<section class="register-dialog">
  <div class="register-content">
    <img
      [src]="'./../../../assets/icons/login/arrow_back_'+ signalService.themeColorMain() +'.svg'"
      alt="Arrow back"
      class="back-to-login"
      (click)="signalService.backToLogin()"
    />
    <h1>Create Account</h1>

    <span class="register-info">
      Get your own DABubble-account with your name and mail-address
    </span>

    <form #contactForm="ngForm" class="form-login">
      <div class="input-wrapper">
        <div class="name-input-wrapper">
          <input
            #name="ngModel"
            [(ngModel)]="nameInput"
            type="text"
            class="input"
            id="name"
            name="name"
            required
            pattern="^[A-Za-zÄÖÜäöüß]+(?:\s+[A-Za-zÄÖÜäöüß]+)+$"
            placeholder="First and last name"
          />
          <div class="icon">
            <img [src]="'./assets/icons/login/name_'+ signalService.themeColorMain() +'.svg'" alt="User Icon" />
          </div>
          @if (name.touched && name.invalid) {
          <span class="error-message">Please enter a first and last name</span>
          } @else {<span class="error-message-placeholder"></span> }
        </div>

        <div class="mail-input-wrapper">
          <input
            #email="ngModel"
            [(ngModel)]="emailInput"
            type="text"
            class="input"
            id="mail"
            name="email"
            required
            pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
            placeholder="Email"
          />
          <div class="icon">
            <img [src]="'./assets/icons/login/mail_'+ signalService.themeColorMain() +'.svg'" alt="Mail Icon" />
          </div>
          @if (email.touched && email.invalid) {
          <span class="error-message">Please enter a valid mail address</span>
          } @else {<span class="error-message-placeholder"></span> }
        </div>

        <app-passwords class="form-login"></app-passwords>

        <div class="privacy-policy-wrapper">
          <label for="privacy-policy-checkbox">
            <input
              type="checkbox"
              name="checkbox"
              id="privacy-policy-checkbox"
              [checked]="privacyPolicyAccepted"
              (change)="privacyPolicyAccepted = !privacyPolicyAccepted"
              required
            />
            <span class="checkmark"></span>
            <span class="checkbox-text"
              >I accept the
              <a routerLink="/privacy-policy" class="privacy-policy-link"
                >Privacy Policy</a
              >
            </span>
          </label>
        </div>

        <div class="apply-button-wrapper">
          <button
            class="apply-button"
            type="submit"
            [disabled]="!name.valid || !email.valid || !signalService.confirmPasswordInput() || !privacyPolicyAccepted"
            (click)="
              createUser(
                nameInput,
                emailInput,
                signalService.confirmPasswordInput()
              )
            "
          >
            Apply
          </button>
        </div>
      </div>
    </form>
  </div>
</section>
