<header>

    <div class="header-logo">
        <img src="./../../../assets/icons/general/dabubble_logo.svg" alt="">
        <img src="./../../../assets/icons/general/dabubble_logo_title.svg" alt="">
    </div>

    <section class="search-app">
        <input type="text" placeholder="Search Devspace" #searchBar [(ngModel)]="searchInput" >
        <img src="./../../../assets/icons/general/search_grey.svg" alt="" routerLink='/login'>

        @if (searchInput.length > 0) {
            <div class="search-result">
                @if (searchInput.length > 0 && searchResultsChannel.length === 0) {
                    <div>no results for Channels</div>
                } @else if (searchInput.length > 0) {
                    @for (result of searchResultsChannel; track result) {
                        <div class="single-result" (click)="showThread(result.id!)">
                            <p>Channel:</p>
                            <p class="result-info">#{{ result.channelName }}</p>
                        </div>
                    }
                }

                @if (searchInput.length > 0 && searchResultsUser.length === 0) {
                    <div>no results for Users</div>
                } @else if (searchInput.length > 0) {
                    @for (result of searchResultsUser; track result) {
                        <div class="single-result" (click)="showUserInfo(result.id!)">
                            <p>User:</p>
                            <img [src]="usersService.getAvatar(result.id!)" alt="">
                            <p class="result-info">{{ result.name }}</p>
                        </div>
                    }
                }
                <!-- results direct messages -->
            </div>
        }

    </section>

    <div class="user-menu" (mouseover)="hoverMenu = true" (mouseleave)="hoverMenu = false">
        <h3 [style.color]="hoverMenu ?'var(--col-font-btn-hover)' : '' ">User Name</h3>
        <div class="user-icon">
            <div class="user-picture" [style.backgroundImage] ="'url(./../../../assets/icons/user/user_2.svg)'"></div>
            <img class="user-status" src="./../../../assets/icons/user/status_online.svg" alt="">
        </div>
        <button (click)="logout()">
            <img class="menu-icon" [src]="hoverMenu ? './../../../assets/icons/menu/dropdown_blue.svg' : './../../../assets/icons/menu/dropdown_black.svg'" alt="">
        </button>
    </div>

</header>