<header>

    <div class="header-logo">
        <img src="./../../../assets/icons/general/dabubble_logo.svg" alt="">
        <img src="./../../../assets/icons/general/dabubble_logo_title.svg" alt="">
    </div>

    <section class="search-app">
        <input type="text" placeholder="Search Devspace">
        <img src="./../../../assets/icons/general/search_grey.svg" alt="" routerLink='/login'>
    </section>

    <div class="user-menu" (mouseover)="hoverMenu = true" (mouseleave)="hoverMenu = false">
        <h3 [style.color]="hoverMenu ?'var(--col-font-btn-hover)' : '' ">User Name</h3>
        <div class="user-icon">
            <div class="user-picture" [style.backgroundImage] ="'url(./../../../assets/icons/user/user_2.svg)'"></div>
            <img class="user-status" src="./../../../assets/icons/user/status_online.svg" alt="">
        </div>
        <button (click)="logout()">
            <img class="menu-icon" [src]="hoverMenu ? './../../../assets/icons/menu/dropdown_blue.svg' : './../../../assets/icons/menu/dropdown_black.svg'" alt="">
        </button>
    </div>

</header>