<header>

    <div class="header-logo">
        <img src="./../../../assets/icons/general/dabubble_logo.svg" alt="">
        <img src="./../../../assets/icons/general/dabubble_logo_title.svg" alt="">
    </div>

    <section class="search-app">
        <input type="text" placeholder="Search Devspace" #searchBar [(ngModel)]="searchInput" >
        <img src="./../../../assets/icons/general/search_grey.svg" alt="" routerLink='/login'>

        @if (searchInput.length > 0) {
            <div class="search-result">
                @if (searchInput.length > 0 && searchResultsChannel.length === 0) {
                    <div>no results for Channels</div>
                } @else if (searchInput.length > 0) {
                    @for (result of searchResultsChannel; track result) {
                        <div class="single-result" (click)="showThread(result.id!)">
                            <p>Channel:</p>
                            <p class="result-info">#{{ result.channelName }}</p>
                        </div>
                    }
                }

                @if (searchInput.length > 0 && searchResultsUser.length === 0) {
                    <div>no results for Users</div>
                } @else if (searchInput.length > 0) {
                    @for (result of searchResultsUser; track result) {
                        <div class="single-result" >
                            <p>User:</p>
                            <img [src]="usersService.getAvatar(result.id!)" alt="">
                            <p class="result-info">{{ result.name }}</p>
                        </div>
                    }
                }
                <!-- results direct messages -->
            </div>
        }
    </section>

    @if (authService.currentUser()) {
        <div
            class="user-menu"
            (mouseover)="hoverMenu = true"
            (mouseleave)="hoverMenu = false"
            (click)="toggleDropdown();
            $event.stopPropagation()">
            <h3 [style.color]="hoverMenu ?'var(--col-font-btn-hover)' : '' ">{{ authService.currentUser()!.name }}</h3>
            <div class="user-icon">
                <div class="user-picture" [style.backgroundImage] ="'url(./../../../assets/icons/user/user_' + authService.currentUser()!.avatarId + '.png)'"></div>
                <img class="user-status" [src]="'./../../../assets/icons/user/status_' + authService.currentUser()!.status + '.svg'" alt="">
            </div>
            <button  >
                <img class="menu-icon" [src]="hoverMenu ? './../../../assets/icons/menu/dropdown_blue.svg' : './../../../assets/icons/menu/dropdown_black.svg'" alt="">
            </button>
        </div>
    }
    
    <!-- dropdown menu -->
        <section class="dropdown-wrapper" (click)="dropdownOpen = false" [class]="dropdownOpen ? 'open' : 'close'">
            <div class="dropdown-menu" [class]="dropdownOpen ? 'open' : 'close'" (click)="$event.stopPropagation()">
                @if (showProfileInfo) {
                    <div class="profile-title">
                        <h4>Profile</h4>
                        <button class="close-button" (click)="toggleDropdown()">X</button>
                    </div>
                    <img [src]="'./../../../assets/icons/user/user_' + authService.currentUser()!.avatarId + '.png'" alt="">
                    @if (!editProfile) {
                        <div class="profile-name">
                            <h3>{{authService.currentUser()!.name}}</h3>
                            @if(authService.currentUser()!.name != "Guest") {
                                <button class="edit-button" (click)="editProfile = true">edit</button>
                            }
                        </div>

                        <div class="status">
                            <img class="user-status" [src]="'./../../../assets/icons/user/status_' + authService.currentUser()!.status + '.svg'" alt="">
                            <p>{{authService.currentUser()!.status}}</p>
                        </div>
                        <div class="contact">
                            <img src="./../../../assets/icons/login/mail_black.svg" alt="">
                            <p>{{authService.currentUser()!.email}}</p>
                        </div>
                    } @else {
                        <div class="edit-title">
                            <img src="./../../../assets/icons/general/account_circle_black.svg" alt="">
                            <p>Change your profile name:</p>
                        </div>
                        <input #editNameInput="ngModel" [(ngModel)]="editName" type="text">
                        <div class="edit-menu">
                            <button (click)="editProfile = false">Cancel</button>
                            <button (click)="sendTest()">Save</button>
                        </div>
                    }
                } @else {
                    <button (click)="showProfile()" >Profile</button>
                    <button>Legal Notice</button>
                    <button>Privacy Policy</button>
                    <button (click)="logout()">Log out</button> 
                }
            </div>
        </section>
</header>



