@import './../../../assets/styles/mixins.scss';

header {
    @include dFlex($jc:space-between);
    display: flex;
    position: relative;
    justify-content: space-between;
    width: 100%;
    height: $header-height;
    padding: 16px 16px 0 16px;
}

.header-logo {
    @include dFlex($ai:center);
    cursor: pointer;
    gap: 20px;
    >img:first-child {
        height: 70px;
    }
    >img:nth-child(2) {
        height: 24px;
    }
}

.search-app {
    position: relative;
    align-self: center;
    height: 50px;
    width: 40%;

    >input {
        padding-left: 16px;
        height: 100%;
        min-width: 100%;
        font-size: clamp(18px, 1.444rem, 26px);
    }

    >img {
        border-radius: 50%;
        position: absolute;
        width: 30px;
        height: 30px;
        padding: 5px;
        top: 0;
        right: 0;
        margin: 10px;
        &:hover {
            cursor: pointer;
            background-color: var(--col-bg-btn-hover);
        }
    }
}

.search-result {
    @include dFlex($fd: column, $pos:absolute, $ai: flex-start, $jc: flex-start, $gap: 10px);
    z-index: 2;
    top: 60px;
    padding: 18px;
    left: 0;
    height: auto;
    max-height: 300px;
    width: 320px;
    overflow-y: auto;
    border-radius: 20px;
    background-color: var(--col-bg-secondary);
    filter: drop-shadow(4px 4px 4px var(--col-transparent-shadow));

    .single-result {
        @include dFlex($jc: flex-start, $gap: 6px);
        width: 100%;
        padding: 6px;
        border-radius: 10px;
        cursor: pointer;
        &:hover {
            background-color: var(--col-bg-main);
            color: var(--col-font-href);
        }
        >img { 
            border-radius: 50%;
            height: 35px;
            width: 35px;
        }
        .result-info {
            font-weight: 700;
            font-size: 18px;
        }
    }
}

.user-menu {
    @include dFlex($ai:center, $gap: 10px);
    align-self: center;
    height: 100%;
    cursor: pointer;

    .user-icon {
        @include dFlex();
        position: relative;
        height: 100%;

        .user-picture {
            height: 70px;
            aspect-ratio: 1/1;
            background-size: contain;
            background-repeat: no-repeat;
            border-radius: 50%;
        }

        .user-status {
            border-radius: 50%;
            position: absolute;
            bottom: 3px;
            right: -5px;
            height: 25px;
            width: 25px;
            border: 3px solid var(--col-bg-main);
        }
    }

    .menu-icon {
        width: 16px;
    }
    .reverse{
        transition: transform 0.3s ease-in-out;
        transform: rotate(180deg);

    }
}

     
    .dropdown-wrapper{
         z-index: 99;
        top: 123%;
        right: 0%;
        width: 30%;
        height: 200px; 
        @include dFlex($fd: column, $gap: 15px, $pos: absolute);
        border-radius: 30px 0 30px 30px;
        background-color: white;
        border-radius: 30px 0 30px 30px;
        box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.2);
        
        >button{
            height: 60px;
            width:  fit-content;
            color: var(--col-font-main);
            font-weight: bold;
            font-size: 24px;
            transition: background-color 0.125s ease-in-out;
            border-radius: 25px;
            
            &:hover{
                background-color:var(--col-btn-hover-secondary) ;
                color:var(--col-font-href)
            }
        }
    }


@media screen and (max-width: 960px ) {
    .search-app {
        display: none;
    }
}