<section class="app-message" [style.padding]="'20px ' + paddingHorizontal + 'px'" [style.flexDirection]="isOwnMessage ? 'row-reverse' : 'row'">

    <aside class="user-avatar">
        <img src="./../../../../assets/icons/user/user_fem_1.svg" alt="">
    </aside>

    <section class="chat-message" [style.alignItems]="isOwnMessage ? 'flex-end' : 'flex-start'">
        <div class="message-title">
            <h5>User Name</h5>
            <p>12:00 PM</p>
        </div>

        @if (!editMode) {
            <p  
                class="message-text"
                (click)="editMode = true"
                [class]="isOwnMessage ? 'own-message':'normal-message'">
                {{ messageText }}
            </p>

            <div class="reactions">
                @for (reaction of reactions; track reaction) {
                    {{ reaction.emoji }} {{ reaction.count }}
                }
            </div>

            @if(isChannelMessage) {
                <div class="answers">
                    @if (hasReplies) {
                        <!-- reply count out of database -->
                        <button>5 Replies</button>
                        <p>last reply on xx.xx.25</p>
                    } @else {
                        <button>Reply</button>
                    }
                </div>
            }

        } @else if(editMode) {
            <section class="edit-message">
                <textarea name="" id=""></textarea>
                <div class="edit-menu">
                    <img src="./../../../../assets/icons/message/email_at_grey.svg" alt="">
                    <div class="edit-buttons">
                        <button (click)="editMode = false">Cancel</button>
                        <button>Save</button>
                    </div>
                </div>            
            </section>
        }

    </section>

</section>


