@if (messageExist()) {
    <section 
        class="app-message"
        [style.padding]="paddingValue"
        [style.flexDirection]="checkifOwnMessage() ? 'row-reverse' : 'row'"
        (mouseenter)="hoverMessage = true"
        (mouseleave)="hoverMessage = false"
    >

        <aside >
            <img class="user-avatar" [src]="showAvatar()" alt="">
        </aside>

        <section class="chat-message" [style.alignItems]="checkifOwnMessage() ? 'flex-end' : 'flex-start'">
            <div class="message-title">
                <h5>{{ showName() }}</h5>
                <p> {{ createdAt() }}</p>
            </div>

            @if (!editMode) {
                @if(directMessage.replyTo && replyMessageInfo()) {
                <div class="reply-text" [class]="checkifOwnMessage() ? 'own-message':'normal-message'">
                    <div class="reply-title">
                        <img [src]="'./../../../../assets/icons/message/answer_arrow_'+ signalService.themeColorMain() + '.svg'" alt="">
                        <p>{{ usersService.findName(replyMessageInfo()?.senderId!) }}</p>
                        <img [src]="usersService.getAvatar(replyMessageInfo()?.senderId!)" alt="">
                        <p>:</p>
                    </div>
                    <p>{{ replyMessageInfo()?.text }}</p>
                </div>
                }
                <p
                    class="message-text"
                    [class]="checkifOwnMessage() ? 'own-message':'normal-message'">
                    {{ text() }}
                </p>

                <div class="reactions">
                    @for (reaction of reactions(); track reaction; let index = $index) {
                        @if(index < maxEmoji) {
                            <div class="reaction" (mouseenter)="showReactionInfos(index)" (mouseleave)="hideReactionInfos()">
                                <p>{{ reaction.emojiCode }}</p>
                                <p>{{ reaction.count }}</p>
                                @if (hoveredReactionIndex === index) {
                                    <aside class="reaction-info">
                                        <p>{{ reaction.emojiCode }}</p>
                                        @for (user of reaction.postedBy; track user; let index = $index) {
                                            @if (index === 0 && reaction.postedBy.length > 1) {
                                                <p class="reaction-username">{{ showUserName(user) }},</p>
                                            } @else if (index === 0) {
                                                <p class="reaction-username">{{ showUserName(user) }}</p>
                                            } @else if (index === 1) {
                                                <p class="reaction-username">{{ showUserName(user) }}</p>
                                            }
                                        }
                                        @if (reaction.postedBy.length > 2) {
                                            <p> + {{ reaction.postedBy.length -2 }} </p>
                                        }
                                        <p> has reacted</p>
                                    </aside>
                                }
                            </div>
                        }
                    }
                    @if(reactions() && reactions().length > maxEmoji) {
                        <button (click)="toggleShownEmojis()">show all</button>
                    }
                    @if(reactions() && reactions().length === maxEmoji) {
                        <button (click)="toggleShownEmojis()">show less</button>
                    }
                </div>

                @if(isChannelMessage) {
                    <div class="answers">
                        @if (message.threadMessages.length > 0) {
                            <button (click)="openThread()">{{ message.threadMessages.length }} Replies</button>
                            <p>last on {{ lastReply}}</p>
                        } @else {
                            <button (click)="openThread()">Reply</button>
                        }
                    </div>
                } @else if (isDirectMessage) {
                    <div class="answers">
                        <button (click)="replyTo()">Reply</button>
                    </div>
                    
                }

            } @else if(editMode) {
                <section class="edit-message">
                    <textarea [(ngModel)]="messageEditText"></textarea>
                    <div class="edit-menu">
                        <img (click)="emojiBarEditMode = true " src="./../../../../assets/icons/message/emoji_satisfied_grey.svg" alt="">
                        <div class="edit-buttons">
                            <button (click)="editMode = false">Cancel</button>
                            <button (click)="sendMessageUpdate(singleMessageId())">Save</button>
                        </div>
                        @if(emojiBarEditMode) {
                            <emoji-mart
                                class="emoji-mart-edit-mode"
                                (mouseleave)="emojiBarEditMode = false"
                                [set]="'apple'"
                                previewPosition="none"
                                [exclude]="['recent']"
                                [i18n]="{ categories: { people: 'Smileys' } }"
                                (emojiSelect)="onEmojiSelect($event)">
                            </emoji-mart>
                        }
                    </div>            
                </section>
            }
        </section>

        @if (!isThreadTitle && !editMode) {
            <nav [ngClass]="{
                'left': checkifOwnMessage(),
                'right': !checkifOwnMessage(),
                'shown': hoverMessage
            }">
                @for (item of menuBar; track item; let index = $index) {
                    @if (index < menuBar.length -1) {
                        @if (isThreadMessage || isDirectMessage) {
                            @if (item.shownInThread) {
                                <img (click)="item.clickFunction()" [src]="item.imgSrc" alt="">
                            }
                        } @else {
                            <img (click)="item.clickFunction()" [src]="item.imgSrc" alt="">
                        }
                    } @else if(checkifOwnMessage()) {
                        <img (click)="menuBar[menuBar.length -1].clickFunction()" [src]="item.imgSrc" alt="">
                    }
                }
            </nav>
        }
        @if(emojiBar) {
            <div class="emoji-wrapper" (mouseleave)="emojiBar = false"
            [ngClass]="{
                'left': checkifOwnMessage(),
                'right': !checkifOwnMessage(),
                'shown': hoverMessage
            }">
                <emoji-mart
                    [set]="'apple'"
                    previewPosition="none"
                    [exclude]="['recent']"
                    [i18n]="{ categories: { people: 'Smileys' } }"
                    (emojiSelect)="onEmojiSelect($event)">
                </emoji-mart>
            </div>
        }
    </section>
}




