<section class="login-dialog">
  <div class="login-content">
    <h1>Login</h1>

    <span class="recommendation"
      >We recommend you to use the email address you use at work</span
    >
    <form
      (ngSubmit)="onSubmit(contactForm)"
      #contactForm="ngForm"
      class="form-login"
    >
      <div class="input-wrapper">
        <div class="mail-input-wrapper">
          <input
            #email="ngModel"
            [(ngModel)]="emailInput"
            type="text"
            class="input"
            id="mail"
            name="email"
            required
            pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
            placeholder="Email"
          />
          <div class="icon">
            <img src="./assets/icons/login/mail_black.svg" alt="Mail Icon" />
          </div>
          @if (email.touched && email.invalid) {
          <span class="error-message">Please enter a valid mail address</span>
          } @else {<span class="error-message-placeholder"></span> }
        </div>

        <div class="password-input-wrapper">
          <input
            #password="ngModel"
            [(ngModel)]="passwordInput"
            [type]="passwordVisible ? 'text' : 'password'"
            class="input"
            id="password"
            name="password"
            required
            pattern=".{8,}"
            placeholder="Password"
          />
          @if (password.touched && password.invalid) {
            <span class="error-message">Please enter a valid password with at least 8 characters</span>
          } @else {<span class="error-message-placeholder"></span> }

          @if (!passwordInput) {
          <div class="icon">
            <img
              src="./assets/icons/login/lock_black.svg"
              alt="Password Icon"
            />
          </div>
          } @if (passwordInput) {
          <div class="icon" (click)="togglePasswordVisibility()">
            <img
              [src]="
                passwordVisible
                  ? './assets/icons/login/visibility.svg'
                  : './assets/icons/login/visibility_off.svg'
              "
            />
          </div>
          }
        </div>

        @if ((formSubmitted && (!email.valid || !password.valid)) ||
        noUserFound) {
        <span class="error-message mb-12"
          >Check your email and password. Please try again.</span
        >
        } @else if (formSubmitted && noUserFound) {
        <span class="error-message mb-12"> No user found. Please try again. </span>
        } @else {
        <span class="error-message-placeholder mb-12"></span>
        }
      </div>

      <p class="forgotten-password" (click)="signalService.showPasswordForgottenDialog()">Forgot password?</p>
      <div class="seperator">
        <span>OR</span>
      </div>

      <button class="google-login-btn" (click)="loginWithGoogle()">
        <img src="./assets/icons/login/google_logo.svg" alt="Google Logo"/>
        Login with Google
      </button>

      <div class="login-button-wrapper">
        <button
          class="login-button"
          type="submit"
          [disabled]="!email.valid || !password.valid"
          (click)="login(this.emailInput, this.passwordInput)"
        >
          Login
        </button>
        <button
          class="guest-button"
          (click)="guestLogin('admin@bubble.com', 'bubbleadmin')"
        >
          Guest Login
        </button>
      </div>
    </form>
  </div>
</section>
