<section class="login-dialog">
  <div class="title-wrapper">
    <h1>Login</h1>
    <span>We recommend you to use the emil address you use at work</span>
  </div>
  <form
    (ngSubmit)="onSubmit(contactForm)"
    #contactForm="ngForm"
    class="form-login"
  >
    <div class="mail-input-wrapper">
      <input
        #email="ngModel"
        [(ngModel)]="emailInput"
        type="text"
        class="input"
        id="mail"
        name="email"
        required
        pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
        placeholder="Email"
      />
      <div class="icon">
        <img src="./assets/icons/login/mail_black.svg" alt="Mail Icon" />
      </div>
    </div>
    <div class="password-input-wrapper">
      <input
        #password="ngModel"
        [(ngModel)]="passwordInput"
        [type]="passwordVisible ? 'text' : 'password'"
        class="input"
        id="password"
        name="password"
        required
        pattern=".{8,}"
        placeholder="Password"
      />

      @if (!passwordInput) {
      <div class="icon">
        <img src="./assets/icons/login/lock_black.svg" alt="Password Icon" />
      </div>
      } @if (passwordInput) {
      <div class="icon" (click)="togglePasswordVisibility()">
        <img
          [src]="
            passwordVisible
              ? './assets/icons/login/visibility.svg'
              : './assets/icons/login/visibility_off.svg'
          "
        />
      </div>
      }
    </div>

    @if ((formSubmitted && (!email.valid || !password.valid)) || noUserFound) {
    <span class="error-message"
      >Check your email and password. Please try again.</span
    >
    } @else if (formSubmitted && noUserFound) {
    <span class="error-message"> No user found. Please try again. </span>
    } @else {
    <span class="error-message"></span>
    }

    <div class="login-button-wrapper">
      <button
        class="login-button"
        type="submit"
        [disabled]="!email.valid || !password.valid"
        (click)="login(this.emailInput, this.passwordInput)"
      >
        Login
      </button>
      <button
        class="guest-button"
        (click)="guestLogin('admin@join.com', 'joinadmin')"
      >
        Guest Login
      </button>
    </div>
  </form>
</section>
