@import "../../../assets/styles/mixins.scss";
@import "../../../assets/styles/variables.scss";
@import "../../../assets/styles/variables.scss";

.login-dialog {
  width: 100%;
  max-width: 600px;
  border-radius: 30px;
  padding: $dialog-padding-desktop;
  background-color: white;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.0784313725);
}

.login-content {
  @include dFlex($gap: 32px);
  flex-direction: column;
  text-align: center;

  .recommendation {
    font-family: "Nunito";
    font-size: 20px;
  }
}

.form-login {
  width: 100%;
  @include dFlex($gap: 32px);
  flex-direction: column;

  .input-wrapper,
  .mail-input-wrapper,
  .password-input-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;

    .icon {
      @include dFlex();
      position: absolute;
      left: 20px;
      top: 16px;
      height: 21px;
    }

    input[type="text"],
    input[type="email"],
    input[type="password"] {
      width: 100%;
      border-radius: 100px;
      padding: 18px 32px 18px 60px;
      background-color: var(--col-bg-btn-hover);

      &:focus {
        outline: none;
        border-color: var(--col-font-href);
      }
    }
  }

  .forgotten-password {
    cursor: pointer;
    font-family: "Figtree", sans-serif;
    font-size: 18px;
    color: var(--col-font-href);
    padding: 5px 15px;
    border-radius: 25px;
    border: 1px solid transparent;
    transition: background-color 0.125s ease-in-out;

    &:hover {
      background-color: var(--col-bg-btn-hover);
    }
  }

  .seperator {
    width: 100%;
    height: 1px;
    background-color: var(--col-stroke-main);
    display: flex;
    justify-content: center;
    align-items: center;

    span {
      background-color: white;
      padding: 10px 20px;
    }
  }

  .google-login-btn {
    @include dFlex($gap: 20px);
    width: 100%;
    color: var(--col-bg-btn-main);
    border-radius: 100px;
    background-color: var(--col-bg-btn-hover);
    border: unset;
    transition: all 0.125s ease-in-out;

    &:hover {
      transform: scale(1.02);
    }
  }

  .error-message {
    color: var(--col-font-error);
    font-size: 12px;
    text-align: left;
    padding: 8px 20px 0px;
  }

  .error-message-placeholder {
    height: 24px;
  }

  .mb-12 {
    margin-bottom: -12px;
  }
}

button {
  padding: 12px 25px;
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  border-radius: 25px;
  border: 1px solid var(--col-font-href);
  width: fit-content;
  transition: background-color 0.125s ease-in-out;
  font-weight: 700;
}

.login-button-wrapper {
  @include dFlex($gap: 30px);

  .login-button {
    color: white;
    background-color: var(--col-bg-btn-main);

    &:hover {
      background-color: var(--col-btn-hover-light);
      border-color: var(--col-btn-hover-light);
    }

    &:disabled {
      pointer-events: none;
      background-color: var(--col-stroke-main);
    }
  }

  .guest-button {
    color: var(--col-bg-btn-main);

    &:hover {
      background-color: var(--col-btn-hover-dark);
      border-color: var(--col-btn-hover-dark);
      color: white;
    }
  }
}

@media screen and (max-width: 550px) {
  .login-dialog {
    padding: $dialog-padding-mid;
  }
}

@media screen and (max-width: 450px) {
  .login-dialog {
    padding: $dialog-padding-mobile;
  }

  .google-login-btn {
    gap: 12px;
  }

  button {
    padding: 12px 22px;
    font-size: 16px;
  }
}
