<section class="message-list">
    @for (message of messages; track message; let index = $index) {
        @if (index === 0 || !isSameDate(message.dateCreated, messages[index - 1].dateCreated)) {
            <div class="date-separator">
                <p>{{ formatDate(message.dateCreated) }}</p>
            </div>
        }
        <app-chat-message
            [messageText]="message.text"
            [isOwnMessage]="message.postedBy === 'A' ? true: false"
            [hasReplies]="message.hasReplies"
            [paddingHorizontal]="'65'">
        </app-chat-message>
    }
</section>