<section class="message-list" #messageContainer (scroll)="onScroll()">
    @if (isChannel && getChannelMessages()) {
        @if(getChannelMessages().length === 0 ) {
            <section class="channel-info">
                <h3># {{channelTitle}}</h3>
                <p>
                    This Channel was created by 
                    <span>{{ userService.findName(channelCreator) }}</span> on 
                    <span>{{ channelCreatedAt }}</span>.
                    <br>
                    This is the beginning of the channel.
                </p>
            </section>
        } @else {
        @for (message of getChannelMessages(); track message.id; let index = $index) {
            @if (shouldShowDateSeparator(index, getChannelMessages())){
                <div class="date-separator">
                    <p>{{ timeService.getDate(message.createdAt.toDate(), 'dd-mm-yyyy') }}</p>
                </div>
            }
            @if (message.threadMessages) {
                <app-chat-message
                    [message]="message"
                    [paddingHorizontal]="isMobileView() ? '45':'65'"
                    [isChannelMessage]="isChannel">
                </app-chat-message>
            }
        }
        }

    } @else if (isThread && getThreadMessages()) {
        @if (currentThreadActive()) {
            <app-chat-message
                [threadTitle]="getCurrentThreadMessage()"
                [paddingHorizontal]="isMobileView() ? '45':'16'"
                [isThreadTitle]="true">
            </app-chat-message>
            <div class="answers-seperator">
                {{getThreadMessages().length}} Answers
            </div>
            @for (message of getThreadMessages(); track message.id; let index = $index) {
                @if (shouldShowDateSeparator(index, getThreadMessages())) {
                    <div class="date-separator">
                        <p>{{ timeService.getDate(message.createdAt.toDate(), 'dd-mm-yyyy') }}</p>
                    </div>
                }
                @if (message) {
                <app-chat-message
                    [threadMessage]="message"
                    [paddingHorizontal]="isMobileView() ? '45':'16'"
                    [isThreadMessage]="isThread">
                </app-chat-message>
                }
            } 
        } @else {
            <div class="no-thread-selected">
                <p>please reply a message to show thread</p>
            </div>
        }
    } @else if (isConversation){
        @if (hasNoMessages) {
            @if(conService.ownConversation()) {
                <section class="no-message-info">
                    <h3> Your Notes </h3>
                    <p>This space is just for you. Take notes, list your to-dos, or keep links within easy reach. You're also welcome to use it to reflect or talk things through with yourself.</p>
                </section>
            } @else {
                <section class="no-message-info">
                    <h3>Start Conversation </h3>
                    <p>This conversation is just between you and <span (click)="userInfo()">&#64;{{userService.findName(conversationPartner)}}</span>.</p>
                </section>
            }
        } @else {
            @for (message of getDirectMessages(this.signalService.activeConId()); track message.id; let index = $index) {
                @if (shouldShowDateSeparator(index, getDirectMessages(this.signalService.activeConId()))) {
                    <div class="date-separator">
                        <p>{{ timeService.getDate(message.createdAt.toDate(), 'dd-mm-yyyy') }}</p>
                    </div>
                }
                @if (message) {
                <app-chat-message
                    [directMessage]="message"
                    [paddingHorizontal]="isMobileView() ? '45':'65'"
                    [isDirectMessage]="true">
                </app-chat-message>
                }
            } 
        }

    }
</section>