@import './../../../assets/styles/mixins.scss';

.message-list {
    height: 100%;
    width: 100%;
    max-height: calc(100vh - 240px);
    overflow-y: auto;
    padding: 20px 0 140px 0;
    scroll-behavior: auto !important;
}

.date-separator {
    position: relative;
    height: 1px;
    background-color: var(--col-stroke-main);
    margin: 24px 0;
    >p {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 35px;
        padding: 4px 8px;
        border-radius: 50px;
        border: 1px solid var(--col-stroke-main);
        background-color: var(--col-bg-secondary);
    }
}

.no-thread-selected,
.answers-seperator {
    @include dFlex();
    width: 100%;
    color: var(--col-font-info);
    padding-bottom: 10px;
}

.no-message-info {
    padding: 0 20px;
    >p {
        color: var(--col-font-info);
    }
    >p>span {
        cursor: pointer;
        font-weight: 700;
        color: var(--col-font-href);
    }
}
