@import './../../../../assets/styles/mixins.scss';

section {
    @include dFlex($fd: column, $gap:20px);  
    padding: 30px;
    border-radius: 20px;
    background-color: var(--col-bg-secondary);
    width: 710px;
    height:auto;
}

.add-title {
    @include dFlex($jc: space-between);
    width: 100%;
    .close-button {
        @include dFlex();
        padding: 10px;
        font-weight: 700;
        border-radius: 40px;
        width: 40px;
        height: 40px;
        background-color: var(--col-bg-main);
        &:hover {
            background-color: var(--col-bg-btn-main);
            color: var(--col-font-secondary);
        }
    }
}

ul {
    @include dFlex($fd: column, $gap:20px);  
    width: 100%;
}

span {
    font-weight: 700;
    text-decoration: underline;
}

.add-option {
    @include dFlex($jc: flex-start, $gap: 10px);
    width: 100%;
    cursor: pointer;
}

.button-wrapper {
    @include dFlex($jc: flex-end, $gap: 10px);
    width: 100%;
    >button {
        background-color: var(--col-bg-btn-main);
        border: 1px solid transparent;
        color: var(--col-font-secondary);
        padding: 10px 20px;
        font-size: 18px;
        border-radius: 20px;
        &:hover {
            transform: scale(1.04);
        }
        &:disabled {
            user-select: none;
            background-color: var(--col-bg-secondary);
            border: 1px solid var(--col-stroke-main);
            color: var(--col-font-info);
            &:hover {
                transform: scale(1.00);
            }
        }
    }
}

.active-channel {
    font-size: 18px;
    width: 100%;
    >span {
        font-weight: 700;
        text-decoration: none;
    }
}

.input-area {
    @include dFlex($gap: 5px);
    width: 100%;
    padding: 10px;
    border: 1px solid var(--col-stroke-main);
    border-radius: 20px;
    flex-wrap: wrap;
    >input {
        flex: 1;
        font-size: 18px;
        background-color: var(--col-bg-secondary);
    }
    .selection {
        @include dFlex($gap: 5px);
        background-color: var(--col-bg-main);
        border-radius: 50px;
        padding: 5px 10px;
        cursor:pointer;
        >img {
            height: 20px;
            border-radius: 50%;
        }
    }
}

.search-results {
    position: absolute;
    align-self: flex-start;
    padding: 16px;
    max-height: 250px;
    overflow-y: auto;
    width: 260px;
    background-color: var(--col-bg-secondary);
    border: 1px solid var(--col-stroke-main);
    border-radius: 0 20px 20px 20px;
    top: 60px;
    left: 20px;
    z-index: 4;
    .search-result {
        @include dFlex($jc: flex-start, $gap:10px);
        z-index: 4;
        width: 100%;
        padding: 10px;
        margin: 6px 0;
        border-radius: 20px;
        cursor:pointer;
        &:hover {
            background-color: var(--col-bg-main);
        }
        >img {
            height: 30px;
            border-radius: 50%;
        }
    }
    >p {
        font-size: 16px;
    }
}

@media screen and (max-width: 850px) {
    section {
        padding: 24px;
        width: auto;
        height:auto;
        margin: auto 5%;
    }
    .search-results {
        max-height: 200px;
    }
}