<section class="direct-messages-list">
    <header>
        <button (click)="toggleDirectMessageList()" (mouseenter)="directMessageListHovered = true" (mouseleave)="directMessageListHovered = false">
            <img [src]="'./../../../../assets/icons/menu/dropdown_'+ imageColor(directMessageListHovered) +'.svg'" alt="" [style.transform]="directMessageListOpened ? 'rotate(0deg)' : 'rotate(-90deg)'">
            <img [src]="'./../../../../assets/icons/general/account_circle_' + imageColor(directMessageListHovered) + '.svg'" alt="">
            <h4 [style.color]="directMessageListHovered ? 'var(--col-font-btn-hover)' : 'var(--col-font-main)'">Direct Messages</h4>
        </button>
    </header>
    <div [class]="{'close-list': !directMessageListOpened}" class="direct-messages">
        <ul>
            <!-- @for (element of tempArrayItemCount; track element) {
            <li>
                <div class="user-icon">
                    <img [src]="'./../../../../assets/icons/user/user_' + element +'.png'" alt="">
                </div>
                <h5>User Name</h5>
            </li>
            } -->
    @if (authService.userId) {
        @for (conversation of filteredConversations; track conversation) {
            <li (click)="openConversation(conversation.id!)"> 
                <div class="user-icon">
                    <img [src]="userService.getAvatar(conService.participant(conversation))" alt="">
                    <img class="user-status" [src]="'./../../../assets/icons/user/status_' + userService.getStatus(conService.participant(conversation)) + '.svg'" alt="">
                </div>
                <h5>{{ userService.findName(conService.participant(conversation)) }}</h5>
            </li>
        }
    }
        </ul>
    </div>
</section>
