@import './../../../assets/styles/mixins.scss';

.workspace {
    @include dFlex($fd:column, $gap: 20px, $ai:flex-start, $jc: flex-start);
    padding: 32px 16px 16px 52px;
    min-height: 100%;
}

header {
    @include dFlex($jc:space-between, $gap: 10px);
    width: 100%;
    .workspace-title {
        @include dFlex($gap: 12px);
    }
    >img {
        cursor: pointer;
    }
}

.workspace-lists {
    width: 100%;
    max-height: calc(100vh - 284px);
    overflow-y: auto;
}

app-search-app {
    width: 100%;
    border: 1px solid var(--col-stroke-main);
    border-radius: 20px;
}

.start-conversation {
    @include dFlex($pos: absolute, $jc: space-between, $gap: 16px);
    padding: 12px 16px;
    border-radius: 20px;
    border: 1px solid var(--col-stroke-main);
    width: 210px;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    >img {
        height: 25px;
        width: 25px;
    }
    &:hover {
        background-color: var(--col-bg-main);
        transform: scale(1.04);
        >p {
            color: var(--col-font-href);
        } 
    }
}


.con-btn {
    @include dFlex($jc: center, $gap: 12px);
    >p {
        font-size: 18px;
        font-weight: 700;
    }
    >img {
        height: 35px;
        width: 35px;
    }
    &:hover {
        >p {
            color: var(--col-font-btn-hover);
        }
    }
}

@media screen and (max-width: 850px) {
    .workspace {
        padding: 32px 16px 16px 45px;
    }
}

@media screen and (max-width: 450px) {
    .workspace-lists {
        width: 100%;
        max-height: calc(100vh - 254px);
    }
}
