<section class="workspace">
    <header>
        @if (showSearchBar) {
            <app-search-app></app-search-app>
        } @else {
            <div class="workspace-title">
                <img src="./../../../assets/icons/general/devspace_logo.svg" alt="">
                <h3>Devspace</h3>
            </div>
            <img [src]="startConversationHovered ? './../../../assets/icons/general/edit_blue.svg' : './../../../assets/icons/general/edit_black.svg'"
            (click)="newConversation()"
            (mouseenter)="startConversationHovered = true"
            (mouseleave)="startConversationHovered = false"
            alt="Edit Icon">
        }
    </header>

    <section class="workspace-lists">
        <app-channel-list></app-channel-list>
        <app-direct-messages-list></app-direct-messages-list>
    </section>

    @if(showSearchBar) {
    <div 
        class="start-conversation"
        (click)="newConversation()"
        (mouseenter)="startConversationHovered = true"
        (mouseleave)="startConversationHovered = false">
        <div class="con-btn">
            <img src="./../../../assets/icons/general/devspace_logo.svg" alt="">
            <p >Start Chat</p>
        </div>
        <img [src]="startConversationHovered ? './../../../assets/icons/general/edit_blue.svg' : './../../../assets/icons/general/edit_black.svg'" alt="Edit Icon">
    </div>
    }

</section>