@import './../../../../assets/styles/mixins.scss';

.channel-info {
    @include dFlex($fd:column, $gap:20px);
    background-color: var(--col-bg-secondary);
    border: 1px solid var(--col-stroke-main);
    width: 90vw;
    max-width: 800px;
    padding: 30px;
    border-radius: 20px;
}

h4 {
    font-size: 20px;
    font-weight: 700;
}

.channel-sub-container {
    @include dFlex($fd:column);
    width: 100%;
    padding: 16px;
    border-radius: 20px;
    border: 1px solid var(--col-stroke-main);
}

header,
.channel-sub-header,
.channel-sub-body {
    @include dFlex($jc: space-between);
    width: 100%;
}

.channel-sub-header >button {
    font-size: 18px;
    font-weight: 700;
    color: var(--col-font-href);
    &:hover {
        color: var(--col-bg-btn-main);
    }
    &:disabled {
        color: var(--col-font-info);
        cursor: not-allowed;
    }
}

.channel-sub-body>p {
    font-size: 18px;
    font-weight: 700;
    margin-right: 5px;
}

.channel-sub-footer {
    @include dFlex($fd:column, $gap:10px, $ai: flex-start);
    padding-top: 10px;
    border-top: 1px solid var(--col-stroke-main);
    margin-top: 10px;
    width: 100%;
    .creator {
        font-size: 20px;
        font-weight: 700;
        color: var(--col-font-href);
    }
}

textarea,
input {
    width: 100%;
    font-size: 18px;
    padding: 16px 16px 16px 0;
    color: var(--col-font-main);
    &:disabled {
        color: var(--col-font-info);
    }
}

.leave-channel-btn {
    align-self: flex-end;
    background-color: var(--col-bg-btn-main);
    color: var(--col-font-secondary);
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 20px;
    &:hover {
        background-color: var(--col-font-btn-hover);
        transform: scale(1.04);
        &:disabled {
            transform: none;
            background-color: var(--col-bg-btn-disabled);
        }
    }
    &:disabled {
        cursor: not-allowed;
        background-color: var(--col-bg-btn-disabled);
    }
}

