@import "../../assets/styles/mixins.scss";

:host {
  background-color: var(--col-bg-btn-hover);
  display: flex;
  flex-direction: column;
  height: 100vh;

  @media screen and (max-width: 550px) {
    justify-content: center;
    align-items: center;
  }
}

header {
  @include dFlex($jc: space-between);
  width: 100%;
  height: $header-height;
  padding: 16px 16px 0 16px;

  .header-logo {
    @include dFlex($ai: center);
    cursor: pointer;
    gap: 20px;
    > img:nth-child(1) {
      height: 70px;
    }
    > img:nth-child(2) {
      height: 24px;
    }
  }

  .register-box {
    @include dFlex($fd: column, $gap: 16px);

    @media screen and (max-width: 550px) {
      display: none;
    }
  }
}

.dialog-wrapper {
  flex-grow: 1;
  position: relative;
  width: 100%;
  max-width: 1920px;
  max-height: 1080px;
  overflow-y: auto;
}

app-login-dialog {
  @include dFlex();
  max-height: 1080px;
  padding: 16px;
}

.register-box-mobile {
  display: none;
  width: 100%;
  padding-top: 16px;
}

.login-footer {
  height: 50px;
  @include dFlex($gap: 16px);
}

a {
  cursor: pointer;
  padding: 10px 15px;
  color: var(--col-font-href);
  font-family: "Figtree", sans-serif;
  transition: border-color 0.125s ease-in-out;
  padding: 10px 15px;
  border: 1px solid transparent;
  border-radius: 25px;
}

.router-link:hover {
  border-color: var(--col-stroke-main);
  color: var(--col-font-btn-hover);
}

@media screen and (max-width: 550px) {
  .login-header {
    justify-content: center;
  }

  .login-footer {
    display: none;
  }

  .register-box-mobile {
    @include dFlex($fd: column, $gap: 12px);
  }
}
