<header class="login-header">
  <div class="header-logo" routerLink="/login" (click)="openChooseAvatarDialog()">
    <img src="./../../../assets/icons/general/dabubble_logo.svg" alt="" />
    <img src="./../../../assets/icons/general/dabubble_logo_title.svg" alt="" />
  </div>

  <div class="register-box">
    <p>New at DABubble?</p>
    <a class="register" (click)="showRegisterDialog()">Register</a>
  </div>
</header>

<main class="dialog-wrapper">
  @if (signalService.isLoginDialog()) {
    <app-login-dialog></app-login-dialog>
    
    <div class="register-box-mobile">
      <p>New at DABubble?</p>
      <a class="register" (click)="showRegisterDialog()">Register</a>
    </div>
  }
  @if (signalService.isRegisterDialog()) {
    <app-register-dialog></app-register-dialog>
  }
  @if (signalService.isPasswordForgottenDialog()) {
    <app-password-dialog></app-password-dialog>
  }
  @if (signalService.isChoosingAvatarDialog()) {
    <app-choose-avatar-dialog></app-choose-avatar-dialog>
  }

</main>


<footer class="login-footer">
  <a class="router-link" routerLink="/privacy-policy">Privacy policy</a>
  <a class="router-link" routerLink="/legal-notice">Legal notice</a>
</footer>
