<header class="login-header">
  <div class="header-logo">
    <img src="./../../../assets/icons/general/dabubble_logo.svg" alt="" />
    <img src="./../../../assets/icons/general/dabubble_logo_title.svg" alt="" />
  </div>

  <div class="register-box">
    <p>New at DABubble?</p>
    <a class="signup">Sign up</a>
  </div>
</header>

<main>
  <app-login-dialog></app-login-dialog>
</main>

<footer class="login-footer">
  <a class="router-link" routerLink="/privacy-policy">Privacy policy</a>
  <a class="router-link" routerLink="/legal-notice">Legal notice</a>
</footer>
