@import "../../assets/styles/mixins.scss";

.intro-bg {
  @include dFlex($pos: fixed);
  inset: 0;
  z-index: 100;
  opacity: 1;
  background: linear-gradient(to bottom, var(--col-font-href), #313ae5);
  transition: opacity 0.7s ease-in-out;
}

.intro-logo-group {
  @include dFlex($ai: center, $gap: 20px, $pos: absolute);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  &.move-up {
    animation: move-logo-group 0.7s ease forwards;
  }
}

.logo-image {
  height: 180px;
  z-index: 2;
  transition: transform 0.6s ease;
  transform: translateX(100px);

  .move-up & {
    animation: resize-logo-image 0.7s ease forwards;
  }
}

.logo-title {
  height: 40px;
  z-index: 1;
  opacity: 0;
  transform: translateX(-100px);
  transition: opacity 0.6s ease 0.5s, transform 0.6s ease 0.5s;
  position: relative;

  .move-up & {
    animation: resize-logo-title 0.7s ease forwards;
  }
}

.fade-out {
  opacity: 0;
}

/* Phase 2: title appears and slides to the right while logo slides to the left */
.logo-title.slide-out {
  transform: translateX(0);
  opacity: 1;
}

.logo-image.slide-out {
  transform: translateX(0);
}

/* Phase 3: Logo and title move to the upper left */
@keyframes move-logo-group {
  from {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  to {
    left: 16px;
    top: 21px;
    transform: translate(0, 0);
  }
}

@keyframes resize-logo-image {
  from {
    height: 180px;
  }
  to {
    height: 70px;
  }
}

@keyframes resize-logo-title {
  from {
    height: 40px;
  }
  to {
    height: 24px;
  }
}

/* Phase 3 mobile: Logo and title move to the upper middle */
@keyframes move-logo-group-mobile {
  from {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  to {
    left: 50%;
    top: 21px;
    transform: translate(-50%, 0);
  }
}

@keyframes resize-logo-image-mobile {
  from {
    height: 40px;
  }
    to {
    height: 40px;
  }
}

@keyframes resize-logo-title-mobile {
  from {
    height: 20px;
  }
  to {
    height: 20px;
  }
}

@media screen and (max-width: 600px) {
  .logo-image {
    height: 40px;

    .move-up & {
      animation: resize-logo-image-mobile 0.7s ease forwards !important;
    }
  }

  .logo-title {
    height: 20px;

    .move-up & {
      animation: resize-logo-title-mobile 0.7s ease forwards !important;
    }
  }
}

@media screen and (max-width: 550px) {
  .intro-logo-group.move-up {
    animation: move-logo-group-mobile 0.7s ease forwards !important;
  }
}
