@if (signalService.showIntro()) {
<div class="intro-bg" [class.fade-out]="signalService.fadeOut()">
  <div class="intro-logo-group" [class.move-up]="signalService.moveUp()">
    <img
      src="./../../../assets/icons/general/dabubble_logo.svg"
      alt="Logo"
      class="logo-image"
      [class.slide-out]="signalService.slideOut()"
    />
    <img
      [src]="'./../../../assets/icons/general/dabubble_logo_title_'+ signalService.themeColorMain() +'.svg'"
      alt="Logo Title"
      class="logo-title"
      [class.slide-out]="signalService.slideOut()"
    />
  </div>
</div>
}
