    <header>
        <nav>
            <img src="./../../../assets/icons/general/tag_black.svg" alt="">
            <h3>{{currentChannel?.channelName}}</h3>
            <img src="./../../../assets/icons/menu/dropdown_black.svg" alt="">
        </nav>

        <section class="header-right">
            <div class="channel-members">
                <!-- @for (channelmembers) -->
                    <!-- @if (membercount <= 4 ) -->
                    @for (member of currentChannel?.members; track member; let index = $index) {
                        @if (index <= 3) {
                            <img [src]="usersService.getAvatar(member)" class="member-icon">
                        }
                    }
                    @if (currentChannel?.members!.length > 4) {
                        <p class="member-overflow"> {{ currentChannel?.members!.length - 4 }}</p> 
                    } @else { <p class="member-overflow"></p> }
                    <!-- @else membercount -4 + rest amount -->

            </div>

            <div class="add-members" (mouseenter)="addMembersHovered = true" (mouseleave)="addMembersHovered = false">
                <img [src]="addMembersHovered ? './../../../../assets/icons/menu/person_add_blue.svg' : './../../../../assets/icons/menu/person_add_black.svg'" alt="">
            </div>
        </section>

    </header>