<form #form="ngForm" (ngSubmit)="sendMessage(form)">
    <section class="create-message">
        <textarea
            #messageInput
            [(ngModel)]="messageText"
            name="message"
            minlength="3"
            required
            (input)="triggerUserOrChannelList()"
            placeholder="Write your message...">
        </textarea>

        <div class="mention-list" [style.display]="showList ? 'flex' : 'none'">
            <div class="scroll-content">
                @if(mentionTrigger === '@') {
                    @for(user of searchResultsUser; track user) {
                        <div class="result" (click)="tagUser(user.name)">
                            <img [src]="usersService.getAvatar(user.id!)" alt="">
                            <p>{{ user.name}}</p>
                        </div>
                    }
                }
                @if(mentionTrigger === '#') {
                    @for(channel of searchResultsChannel; track channel) {
                        <div class="result" (click)="tagChannel(channel.id!)">
                            <p># {{ channel.channelName }}</p>
                        </div>
                    }
                }
            </div>
        </div>
        <span class="message-menu">
            <div class="menu-options">
                @for (icon of menuOptions; track icon; let index = $index) {
                    <img
                        (mouseover)="menuOptions[index].hovered = true"
                        (mouseleave)="menuOptions[index].hovered = false"
                        (click)="icon.clickFunction()"
                        [src]="getMenuIcon(index)"
                        [alt]="icon.name">
                }
            </div>
            <button class="send-message" type="submit">
                <img src="./../../../assets/icons/message/send_darkblue.svg" alt="">
            </button>
            
            @if(emojiBar) {
                <emoji-mart
                    (mouseleave)="emojiBar = false"
                    [set]="'apple'"
                    previewPosition="none"
                    [exclude]="['recent']"
                    [i18n]="{ categories: { people: 'Smileys' } }"
                    (emojiSelect)="onEmojiSelect($event)">
                </emoji-mart>
            }
        </span>
    </section>
</form>