@import './../../../assets/styles/mixins.scss';

.create-message {
    >textarea {
        height: 40px;
        min-width: 100%;
        text-wrap: wrap;
        overflow-y: auto;
        border-radius: 0px;
        font-size: clamp(18px, 1rem, 20px);
    }
    .message-menu {
        @include dFlex($jc: space-between);
    }
    .menu-options {
        @include dFlex($gap:10px);
        >img {
            cursor: pointer;
            height: 20px;
        }
    }
    .send-message {
        @include dFlex();
        cursor: pointer;
        padding: 12px;
        height: 34px;
        width: 34px;
        border-radius: 50%;
        &:hover {
            background-color: var(--col-bg-main);
        }
    }
}

.mention-list {
    @include dFlex($fd:column, $pos: absolute);
    box-sizing: border-box;
    border-radius: 20px;
    border: 1px solid var(--col-stroke-main);
    bottom: 130px;
    background-color: var(--col-bg-secondary);
    filter: drop-shadow(4px 4px 4px var(--col-transparent-shadow));
    .result {
        @include dFlex($jc:flex-start, $gap: 10px);
        width: 100%;
        padding: 8px 16px;
        border-radius: 50px;
        transition: all 0.2s ease;
        >p {
            font-weight: 700;
        }
        >img {
            width: 35px;
            height: 35px;
            border-radius: 100%;
        }
        &:hover {
            transform: scale(1.05);
            background-color: var(--col-bg-main);
            cursor: pointer;
        }
    }
}

.scroll-content {
    padding: 16px 20px; 
    overflow-y: auto;
    max-height: 300px;
}

.reply-to {
    @include dFlex($gap: 8px);
    height: 40px;
    position: absolute;
    background-color: var(--col-bg-btn-main);
    padding: 8px 16px;
    border-radius: 50px;
    top: -50px;
    left: 20px;
    >p span {
        font-weight: 700;
    }
    >img {
        height: 20px;
        width: 20px;
    }
    .profile-img {
        border-radius: 50%;
    }
    >p {
        color: var(--col-font-secondary);
    }
}

emoji-mart {
    position: absolute;
    bottom: 30px;
    left: -10px;
    filter: drop-shadow(4px 4px 4px var(--col-transparent-shadow));
}