<section class="create-message">
    <textarea placeholder="Write your message..."></textarea>
    <span class="message-menu">
        <div class="menu-options">
            @for (icon of menuOptions; track icon; let index = $index) {
                <img
                    (mouseover)="menuOptions[index].hovered = true"
                    (mouseleave)="menuOptions[index].hovered = false"
                    [src]="getMenuIcon(icon)"
                    [alt]="icon.name">
            }
        </div>
        <button class="send-message">
            <img src="./../../../assets/icons/message/send_darkblue.svg" alt="">
        </button>
    </span>
</section>