@import "../login-dialog/login-dialog.component.scss";

  .error-message-password,
  .error-message-placeholder {
    color: var(--col-font-error);
    font-size: 12px;
    text-align: left;
    padding: 0px 20px;
  }

  .error-message-placeholder {
    color: transparent;
    height: auto;
    min-height: 24px;
  }