@import "../../../assets/styles/mixins.scss";
@import "../../../assets/styles/variables.scss";
@import "../login-dialog/login-dialog.component.scss";

.password-dialog {
  width: 100%;
  max-width: 600px;
  border-radius: 30px;
  padding: $dialog-padding-desktop;
  background-color: var(--col-bg-secondary);
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.0784313725);
}

.password-dialog-content {
  @include dFlex($gap: 32px);
  flex-direction: column;
  text-align: center;

  .back-to-login {
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 50%;
    transition: all 0.125s ease-in-out;

    &:hover {
      background-color: var(--col-bg-btn-hover);
    }
  }

  .recommendation,
  .info {
    font-size: 20px;
    margin-top: -12px;
  }

  .recommendation {
    color: var(--col-font-main);
  }

  .info {
    color: var(--col-font-info);
  }
}

.send-mail-button-wrapper,
.change-password-button-wrapper {
  display: flex;
  justify-content: flex-end;
  width: 100%;

  .send-mail-button,
  .change-password-button {
    color: var(--col-font-secondary);
    background-color: var(--col-bg-btn-main);

    &:hover {
      background-color: var(--col-btn-hover-light);
      border-color: var(--col-btn-hover-light);
    }

    &:disabled {
      pointer-events: none;
      background-color: var(--col-stroke-main);
    }
  }
}

@media screen and (max-width: 550px) {
  .password-dialog {
    padding: $dialog-padding-mid;
  }
}

@media screen and (max-width: 450px) {
  .password-dialog {
    padding: $dialog-padding-mobile;
  }

  .password-dialog-content {
    .recommendation {
      font-size: 17px;
      margin-top: -24px;
    }
  }

  button {
    padding: 12px 22px;
    font-size: 16px;
  }
}
