<section class="password-dialog">
  <div class="password-dialog-content">
    <img
      [src]="'./assets/icons/login/arrow_back_'+ signalService.themeColorMain() +'.svg'"
      alt="Arrow back"
      class="back-to-login"
      (click)="signalService.backToLogin()"
    />
    <h1>Forgot Password?</h1>
    <span class="recommendation">Please enter your email-address:</span>

    <form
      #contactForm="ngForm"
      class="form-login"
    >
      <div class="input-wrapper">
        <div class="mail-input-wrapper">
          <input
            #email="ngModel"
            [(ngModel)]="emailInput"
            type="email"
            class="input"
            id="mail"
            name="email"
            required
            pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
            placeholder="Email"
          />
          <div class="icon">
            <img [src]="'./assets/icons/login/mail_'+ signalService.themeColorMain() +'.svg'" alt="Mail Icon" />
          </div>
          @if (email.touched && email.invalid) {
          <span class="error-message">Please enter a valid mail address</span>
          } 
          @else {<span class="error-message-placeholder"></span> }
        </div>
      </div>
    </form>

    <span class="info"
      >We will send you an email, so you can reset your password.</span
    >

    <div class="send-mail-button-wrapper">
      <button
        class="send-mail-button"
        type="submit"
        [disabled]="!email.valid"
        (click)="sendMailForNewPassword(this.emailInput)"
      >
        Apply
      </button>
    </div>
  </div>
</section>
