@import "../../../assets/styles/mixins.scss";
@import "../../../assets/styles/variables.scss";
@import "../login-dialog/login-dialog.component.scss";

.password-dialog {
  width: 100%;
  max-width: 600px;
  border-radius: 30px;
  padding: $dialog-padding-desktop;
  background-color: white;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.0784313725);
}


.password-dialog-content {
  @include dFlex($gap: 32px);
  flex-direction: column;
  text-align: center;
}


@media screen and (max-width: 550px) {
    .password-dialog {
        padding: $dialog-padding-mid;
    }
}

@media screen and (max-width: 450px) {
    .password-dialog {
        padding: $dialog-padding-mobile;
    }

    button {
        padding: 12px 22px;
        font-size: 16px;
    }
}