<app-header></app-header>
<section class="main-content">
    <app-workspace [class.hidden]="!signalService.showWorkspace()"></app-workspace>
    <app-channel [class.hidden]="!signalService.showChannel()"></app-channel>
    <app-thread [class.hidden]="!signalService.showThread()"></app-thread>
</section>

<nav class="workspace-btn" (click)="toggleWorkspaceMenu()" (mouseenter)="workspaceHovered = true" (mouseleave)="workspaceHovered = false">
    <h5 [style.color]="workspaceHovered ? 'var(--col-font-btn-hover)' : ''">{{ workspaceStatus }} Workspace Menu</h5>
    <img [src]="getWorkspaceIcon()" alt="">
</nav>

@if (signalService.showCreateChannel()) {
    <section class="transparency" (click)="signalService.showCreateChannel.set(false)">
        <app-create-channel (click)="$event.stopPropagation()"></app-create-channel>
    </section>
}

@if (signalService.showEditChannel()) {
    <section class="transparency" (click)="signalService.showEditChannel.set(false)">
        <app-channel-info (click)="$event.stopPropagation()"></app-channel-info>
    </section>
}

@if (signalService.showUserInfo()) {
    <section class="transparency" (click)="signalService.showUserInfo.set(false)">
        <app-user-info (click)="$event.stopPropagation()"></app-user-info>
    </section>
}

@if (signalService.showAddMembers()) {
    <section class="transparency" (click)="signalService.showAddMembers.set(false)">
        <app-add-members (click)="$event.stopPropagation()"></app-add-members>
    </section>
}

