<app-header></app-header>
<section class="main-content">
    <app-workspace [class.hidden]="!toggleMenu.showWorkspace()"></app-workspace>
    <app-channel></app-channel>
    <app-thread></app-thread>
</section>

<nav class="workspace-btn" (click)="toggleWorkspaceMenu()" (mouseenter)="workspaceHovered = true" (mouseleave)="workspaceHovered = false">
    <h5 [style.color]="workspaceHovered ? 'var(--col-font-btn-hover)' : ''">{{ workspaceStatus }} Workspace Menu</h5>
    <img [src]="getWorkspaceIcon()" alt="">
</nav>

@if (toggleMenu.showCreateChannel()) {
    <section class="create-channel" (click)="toggleMenu.showCreateChannel.set(false)">
        <app-create-channel (click)="$event.stopPropagation()"></app-create-channel>
    </section>
}
