@import './../../assets/styles/mixins.scss';

:host {
    @include dFlex($fd: column);
    gap: 24px;
    height: 100%;
}

app-header,
.main-content {
    display: flex;
    width: 100%;
}

.main-content {
    height: 100%;
    gap: 16px;
}

app-workspace,
app-channel,
app-thread {
    border-radius: 20px;
    background-color: white;
}

app-workspace {
    flex-shrink: 0;
    width: 365px;
    transition: all 0.3s ease;
    margin-left: 16px;
    &.hidden {
        width: 0;
        padding: 0;
        margin: 0;
        opacity: 0;
        overflow: hidden;
    }
}

app-channel {
    flex: 2;
}

app-thread {
    width: 485px;
}

.workspace-btn {
    @include dFlex($gap:16px);
    cursor: pointer;
    border-radius: 0 20px 20px 20px;
    filter: drop-shadow(4px 4px 4px var(--col-transparent-shadow));
    height: 60px;
    width: 300px;
    background-color: var(--col-bg-secondary);
    position: absolute;
    transform-origin: left bottom;
    transform: rotate(-90deg);
    bottom: 0px;
    left: calc(16px + 60px);
    >img {
        transform: rotate(90deg);
    }
}