    <section class="search-app">
        <input type="text" placeholder="Search Devspace" #searchBar [(ngModel)]="searchInput" >
        <img src="./../../../assets/icons/general/search_grey.svg" alt="" (click)="toggleDarkMode()">

        @if (searchInput.length > 0) {
            <div class="search-result">
                @if (searchResultsChannel.length > 0 ) {
                    @for (result of searchResultsChannel; track result) {
                        <div class="single-result" (click)="showChannel(result.id!)">
                            <p>Channel:</p>
                            <p class="result-info">#{{ result.channelName }}</p>
                        </div>
                    }
                } @else {
                    <div>no results for Channels</div>
                }
                @if (searchInput.length > 0 && searchResultsUser.length === 0) {
                    <div>no results for Users</div>
                } @else if (searchInput.length > 0) {
                    @for (result of searchResultsUser; track result) {
                        <div class="single-result" (click)="showUserInfo(result.id!)">
                            <p>User:</p>
                            <img [src]="userService.getAvatar(result.id!)" alt="">
                            <p class="result-info">{{ result.name }}</p>
                        </div>
                    }
                }
            </div>
        }
    </section>