@import "./assets/styles/mixins.scss";
@import "./assets/fonts/fonts.scss";
@import '@ctrl/ngx-emoji-mart/picker';

body {
    @include dFlex($ai:flex-start);
    font-family: 'Nunito';
    min-height: 100vh;
    background-color: var(--col-bg-main);
}

* {
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;
}

ul {
    padding: 0;
    list-style-type: none;
}

button {
    border: none;
    cursor: pointer;
    background-color: transparent;
}

input,
textarea {
    border: none;
    resize: none;
    border-radius: 20px;
}

// scrollbar styling

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: transparent;
    margin: 10px auto;
}

::-webkit-scrollbar-thumb {
    background-color: var(--col-btn-hover-secondary);
    border-radius: 10px;       /* Runde Ecken */
    border: 2px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--col-font-href);
    cursor: pointer;
}