:root {
    // background colors
    --col-bg-main: #ECEEFE;
    --col-bg-secondary: #FFFFFF;
    --col-bg-btn-main: #444DF2;
    --col-bg-btn-hover: #ECEEFE;

    // font & href colors
    --col-font-main: #000000;
    --col-font-secondary: #FFFFFF;
    --col-font-mail: #1381FF;
    --col-font-href: #797EF3;
    --col-font-btn-hover: #535AF1;
    --col-font-error: #ED1E79;

    // transparency
    --col-transparent-shadow: rgba(0, 0, 0, 0.4);

}