:root {
  // background colors
    --col-bg-main: #eceefe;
    --col-bg-secondary: #ffffff;
    --col-bg-btn-main: #444df2;
    --col-bg-btn-hover: #eceefe;
    --col-bg-btn-disabled: #b5b5b5; 

  // strike colors
    --col-stroke-main: #adb0d9;

  // font & href colors
    --col-font-main: #000000;
    --col-font-secondary: #ffffff;
    --col-font-info: #686868;
    --col-font-mail: #1381ff;
    --col-font-href: #797ef3;
    --col-font-btn-hover: #535af1;
    --col-font-error: #ed1e79;

    // button & hover colors
    --col-btn-hover-light: #787ef2;
    --col-btn-hover-dark: #5359f1;
    --col-btn-hover-secondary: #bdbfe1;


  // transparency
    --col-transparent-shadow: rgba(0, 0, 0, 0.1);
}
