@import "../styles/colors.scss";

h1 {
    font-weight: 700;
    font-size: clamp(30px, 2.556rem, 46px);
}

h2 {
    font-weight: 700;
    font-size: clamp(26px, 2.111rem, 38px);
    color: var(--col-bg-btn-main);
    width: 70%;
}

h3 {
    font-weight: 700;
    font-size: clamp(22px, 1.778rem, 32px);
}

h4 {
    font-weight: 400;
    font-size: clamp(18px, 1.444rem, 26px);
}

h5 {
    font-weight: 400;
    font-size: clamp(18px, 1.222rem, 22px);
}

p, a {
    font-weight: 400;
    font-size: clamp(16px, 1rem, 18px);
    text-decoration: none;
}

input,
textarea,
label {
    font-family: 'Nunito';
    resize: none;
    &:focus {
        outline: none;
        box-shadow: none;
    }
}

