@import "../styles/colors.scss";

h1 {
    color: var(--col-bg-btn-main);
    font-weight: 700;
    font-size: clamp(30px, 1.6834rem + 1.9162vw, 46px);;
}

h2 {
    font-weight: 700;
    color: var(--col-bg-btn-main);
    font-size: clamp(26px, 1.4813rem + 1.1677vw, 38px);;
    width: 70%;
}

h3 {
    color: var(--col-font-main);
    font-weight: 700;
    font-size: clamp(22px, 1.778rem, 32px);
}

h4 {
    color: var(--col-font-main);
    font-weight: 400;
    font-size: clamp(18px, 1.444rem, 26px);
}

h5 {
    color: var(--col-font-main);
    font-weight: 400;
    font-size: clamp(18px, 1.222rem, 22px);
}

p, a {
    color: var(--col-font-main);
    font-weight: 400;
    font-size: clamp(16px, 1rem, 18px);
    text-decoration: none;
}

input,
textarea,
label {
    color: var(--col-font-secondary);
    font-family: 'Nunito';
    resize: none;
    &:focus {
        outline: none;
        box-shadow: none;
    }
}

label {
    color: var(--col-font-main);
}

input,
textarea {
    background-color: var(--col-bg-secondary);
    color: var(--col-font-main);
}

button {
    font-family: 'Nunito';
}

