@import "./colors.scss";
@import "./variables.scss";

@mixin dFlex($jc: center, $ai: center, $fd: row, $gap: 0px, $pos: relative) {
    display: flex;
    flex-direction: $fd;
    justify-content: $jc;
    align-items: $ai;
    gap: $gap;
    position: $pos;
}

@mixin createMessage($width: calc(100% - 130px)) {
    position: absolute;
    bottom: 16px;
    left: 50%;
    width: $width;
    padding: 20px;
    border: 1px solid var(--col-stroke-main);
    border-radius: 20px;
    transform: translateX(-50%);
}

@mixin transparentBackground() {
    position: fixed;
    width: 100%;
    max-width: 1920px;
    height: 100vh;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100vw;
        height: 100vh;
        background-color: var(--col-transparent-shadow);
    }
}

@mixin dialogWrapper($width: 370px, $top, $right) {
    z-index: 4;
    top: $top;
    right: $right;
    width: $width;
    height: auto;
    @include dFlex($fd: column, $gap: 15px, $pos: absolute);
    border-radius: 30px 0 30px 30px;
    background-color: var(--col-bg-secondary);
    border-radius: 30px 0 30px 30px;
    box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.2);
    padding: 24px;
}