<section class="avatar-dialog">
  <div class="choose-avatar-content">
    <img
      src="/assets/icons/login/arrow-back-black.svg"
      alt="Arrow back"
      class="back-to-register"
      (click)="backToRegister()"
    />
    <h2>Choose Avatar</h2>

    <img [src]="getAvatarImagePath()" alt="User Image" class="profile-image" />

    @if (currentUser) {
    <span class="user-name">{{ currentUser.name }}</span>
    } @else {
    <span class="user-name"></span>
    }

    <span> Please, choose your Avatar from the following list: </span>
    <div class="avatar-list">
      <img
        class="avatar-image"
        src="/assets/icons/user/user_1.svg"
        alt=""
        (click)="selectAvatarId('1')"
      />
      <img
        class="avatar-image"
        src="/assets/icons/user/user_2.svg"
        alt=""
        (click)="selectAvatarId('2')"
      />
      <img
        class="avatar-image"
        src="/assets/icons/user/user_3.svg"
        alt=""
        (click)="selectAvatarId('3')"
      />
      <img
        class="avatar-image"
        src="/assets/icons/user/user_4.svg"
        alt=""
        (click)="selectAvatarId('4')"
      />
      <img
        class="avatar-image"
        src="/assets/icons/user/user_5.svg"
        alt=""
        (click)="selectAvatarId('5')"
      />
      <img
        class="avatar-image"
        src="/assets/icons/user/user_6.svg"
        alt=""
        (click)="selectAvatarId('6')"
      />
    </div>

    <div class="apply-button-wrapper">
      <button class="apply-button" type="submit" (click)="createAccount()">
        Apply
      </button>
    </div>
  </div>
</section>
