<section class="avatar-dialog">
  <div class="choose-avatar-content">
    <img
      src="/assets/icons/login/arrow-back-black.svg"
      alt="Arrow back"
      class="back-to-register"
      (click)="signalService.showRegisterDialog()"
    />
    <h2>Choose Avatar</h2>

    <img [src]="getAvatarImagePath()" alt="User Image" class="profile-image" />

    @if (currentUser) {
    <span class="user-name">{{ currentUser.name }}</span>
    } @else {
    <span class="user-name"></span>
    }

    <span> Please, choose your Avatar from the following list: </span>
    <div class="avatar-list">
      @for (avatar of avatarIds; track avatar ) {
      <img
        class="avatar-image"
        [src]="'/assets/icons/user/user_' + avatar + '.png'"
        alt=""
        (click)="selectAvatarId(avatar)"
      />
      }
    </div>

    <div class="apply-button-wrapper">
      <button class="apply-button" type="submit" (click)="createAccount()">
        Apply
      </button>
    </div>
  </div>
</section>
