<section class="password-dialog">
  <div class="password-dialog-content">
    <h2>Reset Password</h2>

    <form
      (ngSubmit)="onSubmit(contactForm)"
      #contactForm="ngForm"
      class="form-login"
    >
      <div class="password-input-wrapper">
        <input
          #password="ngModel"
          [(ngModel)]="passwordInput"
          [type]="passwordVisible ? 'text' : 'password'"
          class="input"
          id="password"
          name="password"
          required
          pattern=".{8,}"
          placeholder="New Password"
        />

        @if (!passwordInput) {
        <div class="icon">
          <img src="./assets/icons/login/lock_black.svg" alt="Password Icon" />
        </div>
        } @if (passwordInput) {
        <div class="icon" (click)="togglePasswordVisibility()">
          <img
            [src]="
              passwordVisible
                ? './assets/icons/login/visibility.svg'
                : './assets/icons/login/visibility_off.svg'
            "
          />
        </div>
        }
      </div>

      <div class="password-input-wrapper">
        <input
          #confirmPassword="ngModel"
          [(ngModel)]="confirmPasswordInput"
          [type]="confirmPasswordVisible ? 'text' : 'password'"
          class="input"
          id="confirmPassword"
          name="confirmPassword"
          required
          pattern=".{8,}"
          placeholder="Confirm New Password"
        />

        @if (!confirmPasswordInput) {
        <div class="icon">
          <img src="./assets/icons/login/lock_black.svg" alt="Password Icon" />
        </div>
        } @if (confirmPasswordInput) {
        <div class="icon" (click)="toggleConfirmPasswordVisibility()">
          <img
            [src]="
              confirmPasswordVisible
                ? './assets/icons/login/visibility.svg'
                : './assets/icons/login/visibility_off.svg'
            "
          />
        </div>
        }
      </div>
    </form>
    <div class="change-password-button-wrapper">
      <button
        class="change-password-button"
        type="submit"
        [disabled]="!confirmPassword.valid"
        (click)="setNewPassword(this.passwordInput)"
      >
        Apply
      </button>
    </div>
  </div>
</section>
