@import "../password-dialog/password-dialog.component.scss";

.password-dialog-content {
  gap: 0;

  h1 {
    padding-bottom: 32px;
  }
}

@media screen and (max-width: 450px) {
  .change-password-button-wrapper {
    margin-top: 6px;
  }
}
