<section class="password-dialog">
  <div class="password-dialog-content">
    <h1>Reset Password</h1>

    <form
      #contactForm="ngForm"
      class="form-login"
    >

    <app-passwords class="form-login"></app-passwords>

    </form>
    <div class="change-password-button-wrapper">
      <button
        class="change-password-button"
        type="submit"
        [disabled]="!signalService.passwordsMatch"
        (click)="setNewPassword()"
      >
        Apply
      </button>
    </div>
  </div>
</section>
